
.gallery{
    width: min(1200px, 90vw);
    margin: auto;
    
}
.gallery-h2-img-container{
    align-items: center; display: flex; justify-content: center; margin-bottom: 20px;
}
.gallery h2{
    text-align: center;
    color: rgb(0, 0, 0);
   font-size: 56px;
   margin: 0px 10px 25px 10px;
   font-family: 'Livvic', sans-serif;
}
.gallery-h2-img{
    width: 80px;
}
:root{
    --speed: 50s; /* slower = bigger number */
}

.slider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}
.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun var(--speed) linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (var(--speed) / var(--quantity)) * (var(--position) - 1) - var(--speed))!important;
}
.slider .list .item img{
    width: 100%;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
.slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}
.slider .item:hover{
    filter: grayscale(0);
}
.slider[reverse="true"] .item{
    animation: reversePlay var(--speed) linear infinite;
}
@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}


@media screen and (max-width: 767px){
  .gallery-h2-img-container{
    align-items: center; 
    display: flex; 
    justify-content: center;
    flex-direction: column;
     margin-bottom: 20px;
}
    .gallery h2{
   font-size: 24px;
   margin: 0;
   font-family: 'Livvic', sans-serif;
}
  .gallery-h2-img{
    width: 50px;
}
}